server:
  port: 8080
spring:
  application:
    name: iothub-echo
  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:${user.home}/iothub-echo.db
    username: root
    password: root
  jpa:
    show-sql: true
    #database-platform: com.zx5435.iothub.echo.util.SqliteDialect
    database-platform: org.sqlite.hibernate.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
  redis:
    host: ${REDIS_HOST:localhost}
    port: 6379
    database: 0
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  thymeleaf:
    cache: false
  influx:
    url: http://${REDIS_HOST:localhost}:8086
    database: iothub
    user: root
    password: root
