<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{device.deviceName}</title>
</head>

<main class="th-content">
    <h5>Device Information</h5>
    <table class="table table-sm table-bordered">
        <tr>
            <td width="25%" class="td-bg">Device Name</td>
            <td width="25%">{device.deviceName}</td>
            <td width="25%" class="td-bg">Product Key</td>
            <td width="25%">{device.productKey}</td>
        </tr>
        <tr>
            <td class="td-bg">Device Secret</td>
            <td colspan="3">{device.deviceSecret}</td>
        </tr>
    </table>

    <h5>Topic List</h5>
    <table class="table table-sm table-bordered">
        <tr>
            <td class="td-bg">Topic Name</td>
        </tr>
        <tr>
            <td>{device.productKey}/{device.deviceName}/user/get</td>
        </tr>
    </table>
</main>

</html>
