<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<main layout:fragment="content" class="tf-wrap">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>备注名称</td>
            <td>所属产品</td>
            <td>状态</td>
            <td>最后上线时间</td>
            <td>操作</td>
        </tr>
        <tr th:each="device : ${devices}">
            <td th:text="${device.id}">Id</td>
            <td th:text="${device.deviceName}">备注名称</td>
            <td th:text="${device.productKey}">所属产品</td>
            <td>
                <span th:if="${device.isOnline} == true" class="badge bg-success">Online</span>
                <span th:unless="${device.isOnline} == true" class="badge bg-secondary">Offline</span>
            </td>
            <td th:text="${device.isOnline}">-</td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="'/device/' + ${device.id}">View</a>
                <button class="btn btn-sm btn-light js-device-delete" th:data-id="${device.id}">Delete</button>
            </td>
        </tr>
    </table>

    <div id="root"></div>
    <script type="text/babel" data-type="module" src="/js/index.js"></script>
</main>

</html>
