<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>qwer</title>
</head>

<main class="th-content">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Product name</th>
            <th>Device name</th>
            <th>Device type</th>
            <th>Status</th>
            <th>Last Online</th>
            <th></th>
        </tr>
        {#for device in devices}
        <tr>
            <td>{device.id}</td>
            <td>{device.productKey}</td>
            <td>{device.deviceName}</td>
            <td>{device.type}</td>
            <td>
                {#if device.isOnline}
                <span class="badge bg-success">Online</span>
                {#else}
                <span class="badge bg-secondary">Offline</span>
                {/if}
            </td>
            <td>{device.lastOnlineTs}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="/device/{device.id}">View</a>
                <button class="btn btn-sm btn-light js-device-delete" data-id="{device.id}">Delete</button>
            </td>
        </tr>
        {/for}
    </table>

    <div id="root"></div>
    <script type="text/babel" data-type="module" src="/js/device_list.js"></script>
</main>

</html>